<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dti23052021-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/10185bb3-e270-404b-bbda-59616c4da671/resourceGroups/Teknologisk/providers/Microsoft.Web/sites/dti23052021-functions</ResourceId>
    <UserName>$dti23052021-functions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://dti23052021-functions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>